__pycache__/
*optics_scripts/__pycache__/
optics_scripts/__pycache__/
tmp/
*tmp/
trash/
/models/reg_models/vpod_1.2/aa_prop/old
/models/bs_models/vpod_1.2/aa_prop/old
/prediction_outputs/old
/data/cached_predictions/bs_models/vpod_1.2/aa_prop/old
